body {
  margin: 0;
  font-family: Georgia, serif !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: rgb(254, 254, 254);
  background-color: rgb(56, 60, 62);
}

strong {
  color: rgb(151, 207, 229);
}

span {
  color: rgba(255, 255, 255, 0.7);
}

/* width */
::-webkit-scrollbar {
  width: 10px;
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: #cfcfcf; 
  border-radius: 5px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #afafaf; 
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* copied in from flask app */

.about-me-body {
  font-size: 1.25rem;
}

.tag {
  padding: 2px 6px;
  margin: .2rem 0.05rem;
  border-radius: 5px;
  color: #fff;
  display: inline-block;
}

.round {
  border-radius: 15px
}

.img-white {
  background-color: #fafafa;
}

.crop-img{
  width: 100% !important;
  --width: 100% !important;
  height: calc(var(--width));
  max-height: 40vh;
  object-fit: cover;
}

.card-shadow {
  box-shadow: 0 0 0 rgba(0, 0, 0, 0.15) !important;;
  transition: 0.3s;
}

.card-shadow:hover {
  box-shadow: 0 0.5rem 0.5rem rgba(0, 0, 0, 0.15) !important;
  cursor: pointer;
  background-color: rgb(78, 83, 85);
  transition: 0.3s;
}

/* modal */

.circle {
  border-radius: 1920px;
}

a {
  color: rgb(254, 254, 254);
  text-decoration: none;
  transition: 0.3s;
}

a:hover {
  color: rgb(254, 254, 254);
  text-decoration: none;
  transition: 0.3s;
}

.project-body a {
  color: rgb(151, 207, 229, 0.7);
  text-decoration: none;
  transition: 0.3s;
}

.project-body a:hover {
  color: rgb(151, 207, 229);
  text-decoration: none;
  transition: 0.3s;
}

.footer {
  min-height: 25vh;
  padding: 4rem 0;
  background-color: rgb(26, 27, 28);
}

.footer li {
  list-style-type: none;
}

.footer ul {
  list-style-type: none;
  padding: 0.1rem 0.1rem;
  margin: 0 0;
}

.footer a {
  color: rgba(255, 255, 255, 0.55);
  text-decoration: none;
  transition: 0.3s;
}

.footer a:hover {
  color: #fff;
  text-decoration: none;
  transition: 0.3s;
}

.contact-section a {
  color: #fff;
  text-decoration: none;
  transition: 0.3s;
}

.contact-section a:hover {
  color: rgba(255, 255, 255, 0.55);
  text-decoration: none;
  transition: 0.3s;
}

.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.3);
}

.modal-img-panel {
  max-height: 80vh !important;
  overflow-y: auto;
}

.modal-content-panel {
  max-height: 80vh !important;
  overflow-y: auto;
}

.modal-img {
  min-width: 100% !important;
  padding-bottom: 15px;
}

.modal-content {
  background-color: #fff;
  margin: 3% auto;
  padding: 30px;
  overflow-x:hidden;
  overflow-y: auto;
  width:90vw !important;
  max-height: 90vh !important;
}

.fill-modal {
  overflow-x:hidden;
  overflow-y:auto;
  justify-content: center;
  justify-self: center;
  height: 100% !important;
}

.modal-content .pad {
  height:100%;
  max-height:80vh !important;
}

.overlay-wrapper {
  position: relative;
  width: 100%;
}

.open-modal {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .3s ease;
  background-color: rgba(50, 50, 50, 0.2);
}

.overlay-wrapper:hover .open-modal {
  opacity: 1;
}

.icon {
  color: #eee;
  font-size: 50px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
}

.icon:hover {
  cursor: pointer !important;
  color: #fff;
}

.close {
  z-index: 3;
  color: #efefef;
  float: left;
  position: fixed;
  font-size: 50px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #7f7f7f;
  text-decoration: none;
  cursor: pointer;
}
/* end modal */

.hidden-passthrough {
  display: none;
}

.download-bar {
  position: fixed;
  bottom: 15px;
}

.marker {
  position: absolute;
  z-index: 1 !important;
  color: red;
  font-size: 24px;
  pointer-events: none;
}

.dropdown {
  display: inline-block;
  position: relative;
}

.dropdown-content {
  display: none;
  position: absolute;
  width: max-content;
  overflow: auto;
  z-index: 9999 !important;
}

.dropdown:hover .dropdown-content {
  display: block;
  border: 1px solid #86b7fe;
  border-radius: 5px;
  box-shadow: 0 0.2rem 0.2rem rgba(0, 0, 0, 0.15) !important;
}

.dropdown-content a {
  display: block;
  color: #000000;
  padding: 5px;
  text-decoration: none;
  font-size: 16px;
  background-color: #ffffff;
}

.dropdown-content a:hover {
  color: #ffffff;
  background-color: #aaa;
}

.full-body-map {
  display: none;
}

.found {
  font-weight: bold;
}

.search-content {
  display: block;
  overflow: auto;
  z-index: 9999 !important;
}

.search-content {
  display: none;
  border: 1px solid #86b7fe;
  border-radius: 5px;
  box-shadow: 0 0.2rem 0.2rem rgba(0, 0, 0, 0.15) !important;
  max-height: 40vh !important;
  overflow-y: scroll;
}

.search-content a {
  display: block;
  color: #000000;
  padding: 5px;
  text-decoration: none;
  font-size: 16px;
  background-color: #ffffff;
}

.search-content a:hover {
  color: #ffffff;
  background-color: #aaa;
}

select:invalid {
  color: #6c757d;
  opacity: 1;
}

.unused {
  text-decoration: line-through;
  color: red;
}

/* TOOLTIPS */


.copy-tooltip {
  position: relative;
  display: inline-block;
}

.copy-tooltip .tooltiptext {
  visibility: hidden;
  width: 140px;
  background-color: #555;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px;
  position: absolute;
  z-index: 1;
  bottom: 150%;
  left: 50%;
  margin-left: -75px;
  opacity: 0;
  transition: opacity 0.3s;
}

.copy-tooltip .tooltiptext::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #555 transparent transparent transparent;
}

.copy-tooltip-button {
  background-color: #e9ecef;
  opacity: 1;
  border: 1px solid #ced4da;
  text-align: center;
  font-size: 24px;
}

.copy-tooltip-button:hover {
  cursor: pointer;
}

.copy-tooltip:hover .tooltiptext {
  visibility: visible;
  opacity: 1;
}