body{
     background-image: url('bg.jpg');
     background-attachment: fixed;
     background-size: cover;
    font-size: 20px;
 }

.coverbg{
    background-image: url('bg.jpg');
    background-attachment: fixed;
    background-size: cover;
}

.subtit{
    font-size : 25px;
    font-family: Kollektif;
}