@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.throbber {
  position: absolute;
  left: calc(50% - 40px);
  top: calc(50% - 40px);
  border: 8px solid var(--color-action); /* Light grey */
  border-top: 8px solid var(--color-primary-lightest); /* Blue */
  border-radius: 50%;
  width: 80px;
  height: 80px;
  animation: spin 2s linear infinite;
}
